/* Write your code here. */
* {
  margin: 0%;
  box-sizing: border-box;
}
.bg-container {
  background-color: #9796f0;
  min-height: 100vh;
}
.emojis-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
}
@media screen and (min-width: 768px) {
  .emojis-list-container {
    padding-left: 25%;
    padding-right: 25%;
  }
}
